<%- include("partials/header.ejs") %> 

<main>
    <% if (locals.recipeData) { %>
        <div class="fullRecipeContainer">
            <div class="recipeTitle">
                <h1><%= recipeData.name %></h1>
                <p>This a nice <%= recipeData.type %> food.</p>
            </div>
            <div class="recipeInfo">
                <div class="descriptionContainer">
                    <p>A description of the food. Add to JSON data.</p>
                </div>
                <div class="ingredientsContainer">
                    <!-- Loop through all ingredients in recipe-->
                    <% for(let ingredient of recipeData.ingredients) { %>
                        <div class="ingredient">
                        <!-- Display name, quantity if exist, and other ingredients if exist -->
                            <h3><%= ingredient.name %></h3>

                            <% if (ingredient.quantity) { %>
                                <p><%= ingredient.quantity %> </p>
                            <% } %>

                            <% if(ingredient.ingredients) { %>
                                <ul>
                                <% for(let subIngredient of ingredient.ingredients) { %>
                                    <li><%= subIngredient.name %></li>

                                    <% if (subIngredient.quantity) { %>
                                        <p><%= subIngredient.quantity %> </p>
                                    <% } %>

                                    <% if(Array.isArray(subIngredient.ingredients)) { %>
                                        <ul>
                                            <!-- The last nest of ingredients is a solid array, not object with name property.
                                                Should up recipes JSON for consistency-->
                                        <% for(let subIngredient_2 of subIngredient.ingredients) { %>
                                            <li><%= subIngredient_2 %></li>
                                        <% } %>
                                        </ul>    
                                    <% } %>
                                <% } %>
                                </ul>    
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } else { %>
        <% console.log("Error loading recipe data") %>
    <% } %>    
</main>

<%- include("partials/footer.ejs") %>